@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Roboto:wght@400;500;700;900&family=Salsa&display=swap");
* {
    margin: 0;
    padding: 0;
    text-align: justify;
    text-indent: 1.5em;
}
body {
    font-family: "Salsa", cursive;
    background-color: rgb(224, 249, 203);
    background-image: url("./image/0c8012cf-36d10667c3cac91e99cd982b1b72fa98.jpg");
    background-repeat: no-repeat;
   background-size: 30%;
   background-position: center;

}
.header {
    height: 400px;
    background-color: #2c9e02eb;
    background-image: url("./image/botl.png");
    background-repeat: no-repeat;
}
h1 {
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 160px;
    padding-right: 50px;
}
p {
    padding-top: 10px;
}
.main a {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
    text-decoration: none;
    letter-spacing: 2px;
}
.header h1 > a {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
    text-decoration: none;
    letter-spacing: 2px;
}

.main ul {
    list-style: none;
    padding: 0;
    position: relative;
}
.main li {
    margin: 5px 0;
    border-bottom: 1px solid #dbe0db;
    padding-bottom: 10px;
}

.left,
.center,
.right {
    position: absolute;
    width: 30%;
}
h2 {
    font-weight: 400px;
    font-size: 20px;
    background-color: #91e345;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 10px;
}

.left {
    left: 20px;
}
.right {
    right: 20px;
}
.center {
    left: 0;
    right: 0;
    margin: 0 auto;
}
